name: CI
on:
  push:
    branches: [ main ]
    tags: [ "**" ]
  pull_request:
    branches: [ "**" ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Fetch submodule tags
        working-directory: test/data/gsmo
        run: git fetch --tags origin
      - name: Install test dependencies
        run: pip install -e .[all]
      - name: Test
        env:
          SHELL: /bin/bash  # Required by test_proc.py::test_pipeline_shell_executable_warning
        run: |
          git config --global user.name ci
          git config --global user.email ci
          mkdir ~/.ssh
          echo "${{ secrets.GITLAB_HAILSTONE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa gitlab.com >> ~/.ssh/known_hosts
          pytest -v
      - name: Release
        if: startsWith(github.ref, 'refs/tags/') && matrix.python-version == '3.13'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          pip install setuptools twine wheel
          python setup.py sdist bdist_wheel
          twine upload dist/*
